process {

    withLabel:standard {
        cpus   = 2
        memory = 4.GB
        time   = 4.h
    }
    withLabel:high_resources {
        cpus   = 4
        memory = 8.GB
        time   = 8.h
    }

}

docker {
    enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
