process {
    cpus = 2
    memory = '8GB'
}

docker {
    enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
}

params {
    samplesheet = "/home/jacopo/Scrivania/MOA_nextflow/MOAseq_pipeline/example_samplesheet.csv"
    genome = "/home/jacopo/Scrivania/MOA_nextflow/MOAseq_pipeline/example_data/mais_chr1.fa"
    genome_index = null
    annotation = "NO_FILE"
    outdir = "results"
    sample_name = "rep_merged"
    rep_merged = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}